/*.chart-line-symbol {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-shape: "";
    -fx-scale-x: 0;
    -fx-scale-y: 0;
}*/
.chart-line-symbol {
    -fx-background-color: transparent;
    -fx-padding: 3;
}
