.menu_container {
    -fx-background-color: #132A13;
        -fx-alignment: center;
        -fx-padding: 10;
        -fx-spacing: 10;
}

.menu_container Text {
    -fx-fill: #FFFFFF;
    -fx-font-size: 1.2em;
}